<template>
    <div class="about" id="admin">

        <div class="cols">
            <div class="col" style="margin-right: 20px;">
                <h2>Команды</h2>
                <button class="btn" @click="fetchTeams"> Обновить 🔄</button>
                <ul>
                    <li v-for="(teamName, i) in teams" :key="i">
                        {{ teamName }} <span @click="removeTeam(teamName)">❌</span>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h2>Ответы</h2>
                <button class="btn" @click="fetchAnswers"> Обновить 🔄</button>
                <h3 v-if="!answers.length">Ответов нет</h3>
                <ol>
                    <li v-for="({ name, time }, i) in answers" :key="i">
                        {{ name }} ({{ time }})
                    </li>
                </ol>
                <button v-if="answers.length" class="btn" @click="resetAnswers">Сбросить ❌</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
import {onMounted, ref} from "vue";
import axios from 'axios'
import Swal from "sweetalert2";

const instance = axios.create({
    baseURL: 'https://kemerovo-backend.onrender.com/'
});

const teams = ref([]);
const answers = ref([]);

const fetchTeams = async () => {
    try {
        const response = await instance.get('/teams');
        teams.value = response.data.teams;
    } catch (error) {
        console.log(error);
        Swal.fire({title: 'Не получилось обновить список команд', icon: 'error'})
    }
}

const requestAnswers = async () => {
    const response = await instance.get('/answers');
    answers.value = response.data.answers.sort((a: any, b: any) => {
        return a.time - b.time;
    }).map((answer: any) => {
        const hour = new Date(answer.time).getHours();
        const minutes = new Date(answer.time).getMinutes();
        const seconds = new Date(answer.time).getSeconds();
        return {
            name: answer.name,
            time: `${hour}:${minutes}:${seconds}`
        }
    })
}
const fetchAnswers = async () => {
    try {

    } catch (error) {
        console.log(error);
        Swal.fire({title: 'Не получилось обновить список ответов', icon: 'error'})
    }
}

setInterval(() => {
    requestAnswers();
}, 1000)

const resetAnswers = async () => {
    try {
        await instance.post('/reset');
        answers.value = [];
    } catch (error) {
        console.log(error);
        Swal.fire({title: 'Не получилось сбросить ответы', icon: 'error'})
    }
}

const removeTeam = async (teamName: string) => {
    try {
        const response = await instance.post('/team/remove', {
            teamName
        });
        if (!response.data.success) {
            alert(response.data.error.message)
        }
        await fetchTeams();
    } catch (error) {
        console.log(error);
        Swal.fire({title: 'Не получилось удалить команду', icon: 'error'})
    }
}

onMounted(() => {
    fetchTeams();
    fetchAnswers()
})
</script>

<style>
.cols {
    display: flex;
}

@media (max-width: 1024px) {
    .cols {
        display: block;
    }

    .col:nth-child(2) {
        margin-top: 20px;
    }
}

.team {
    padding: 0 20px;
    border: 1px solid lightblue;
}

ul, ol {
    font-size: 25px;
}

#admin {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 20px;
}
</style>
