<script setup lang="ts">
import Swal from 'sweetalert2'
import {computed, onMounted, ref} from "vue";
import axios from 'axios'

const instance = axios.create({
    baseURL: 'https://kemerovo-backend.onrender.com/'
});

const hasTeam = ref(false);
const KEY = 'teamName'
const _teamName = ref(localStorage.getItem(KEY) || '')
const teamName = computed({
    get() {
        return _teamName.value;
    },
    set(name) {
        _teamName.value = name;
        localStorage.setItem(KEY, name);
    }
});

const saveTeam = async () => {
    try {
        const response = await instance.post('/add', {
            teamName: _teamName.value
        })
        if (response.data.success) {
            hasTeam.value = true;
        } else {
            teamName.value = ''
            Swal.fire({title: response.data.error.message, icon: 'error'})
        }
    } catch (error) {
        Swal.fire({title: 'Ошибка при сохранении команды', icon: 'error'})
    }
}

onMounted(async () => {
    if (_teamName.value) {
        const response = await instance.post('/has', {
            teamName: _teamName.value
        })
        if (response.data.success) {
            hasTeam.value = true;
        }
    }
})

const loading = ref(false);
const answer = async () => {
    try {
        loading.value = true;
        const response = await instance.post('/answer', {
            teamName: teamName.value,
        })
        if (response.data.success) {
            Swal.fire({title: 'Успешно!', icon: 'success'})
        } else {
            Swal.fire({title: response.data.error.message, icon: 'error'})
        }
    } catch (error) {
        Swal.fire({title: 'Ошибка при отправке ответа', icon: 'error'})
    } finally {
        loading.value = false;
    }

}
</script>

<template>
    <main id="user">
        <div class="content">
            <div class="logos">
                <img src="../assets/logo_2024.png" alt="logo">
                <img src="../assets/2.png" alt="logo">
                <img src="../assets/3.png" alt="logo">
            </div>
            <h1 class="title">
              IV Сибирская студенческая межрегиональная олимпиада по акушерству и гинекологии с&nbsp;международным участием
            </h1>

            <form v-if="!hasTeam" @submit.prevent="saveTeam" class="team">
                <h2>Введите название команды</h2>
                <input v-model="teamName"><br>
                <button class="btn" :disabled="!teamName">Отправить</button>
            </form>
            <div v-else class="team">
                <h2>Команда: {{ teamName }}</h2>

                <button class="btn" @click="answer">Поднять руку ✋</button>
            </div>
        </div>
    </main>
</template>

<style>
.btn {
    margin-top: 10px;
    padding: .5rem 2rem;
    border-radius: 25px;
    border: 1px lightblue solid;
    font-size: 23px;
    cursor: pointer;
}

input {
    font-size: 25px;
}

#user {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../assets/bg_2024.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

  @media (min-width: 1024px) {
    background-image: url(../assets/bg_desktop.svg);
  }
}

.logos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.logos img {
    height: 150px;
}

@media (max-width: 1024px) {
    .logos img {
        height: 100px;
    }

    #user {
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.title {
    text-align: center;
    background-color: rgba(255, 255, 255, .3);
    display: inline-block;
    border-radius: 25px;
    line-height: 1.1;
    padding: 0.3em 0;
    margin-top: 1em;
    font-weight: 700;
    font-size: 24px;
}

.content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
}

.team {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .team {
        padding: 20px;
    }
}
</style>
